[elasticsearch-{{ es_major }}]
name=Elasticsearch repository for {{ es_major }} packages
baseurl=http://packages.elastic.co/elasticsearch/{{ es_major }}/centos
gpgcheck=1
gpgkey=http://packages.elastic.co/GPG-KEY-elasticsearch
enabled=1
