[elasticsearch-{{ es_major }}.x]
name=Elasticsearch repository for {{ es_major }}.x packages
baseurl=http://packages.elastic.co/elasticsearch/{{ es_major }}.x/centos
gpgcheck=1
gpgkey=http://packages.elastic.co/GPG-KEY-elasticsearch
enabled=1
